<div class="profile">
<div class="details passtype">{{customerData?.passType}}</div><br>
<h3 class="name">{{customerData?.firstname}} {{customerData?.lastname}}</h3>
<div class="details balance">Current Balance :</div><br>
<div class="details balance-value">{{customerData?.netBalance}}</div><br>
<div class="details cardNo">Issued card :</div>
<div class="details carNo-value">{{customerData?.cardNo}}</div>
<div class="details contact">Contact :</div>
<div class="details contact-value">{{customerData?.contactNo}}</div><br>
<div class="recharge-now">
  <a class="btn">Recharge Now</a>
</div>
</div>
