.modal-close{
    position: relative;
    top: -25px;
}
.header-border {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.footer-content{
    text-align: right;
}
.dialog-custom{
    position: absolute;
    top: -100px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    z-index: 2000;
}