<div class="dialog-custom">
    <div class="modal-header header-border">
      <h4 class="modal-title">Error</h4>
      <button type="button" class="close modal-close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1>  We regret your inconvenience !!! Your fare has been refunded to your wallet.</h1>
    </div>
    <div class="modal-footer footer-content">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
    </div>
  </div>